{% extends "common/layout.html" %}
{% block 'content' %}


<div class="container">


    <div class="row">
        <div style="">
            <form class="row g-3" action="{% url 'IdDiff_save' %}" method="post">
                <table class="table table-hover .table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 100px;text-align:right" >是否去重：</th>
                        <th style="width: 150px;" align="left">



                            <select class="form-select" aria-label="Default select example" name="is_diff" style="width: 150px;">
                                {% if context.config.is_diff == 2 %}
                                    <option selected value="2">否</option>
                                {% else %}
                                    <option value="2">否</option>
                                {% endif %}


                                {% if context.config.is_diff == 1 %}
                                    <option value="1" selected>是</option>
                                {% else %}

                                    <option value="1">是</option>
                                {% endif %}


                            </select>



                        </th>
                    </tr>


                    <tr>
                        <th scope="col" style="width: 100px;text-align:right" align="right">ID长度：</th>
                        <th style="width: 150px;" align="left"><input style="width: 150px;" type="text" class="form-control" value="{{ context.config.id_leng }}" name="id_leng"></th>
                    </tr>

                    <tr>
                        <th scope="col"></th>


                        <th >
                            {% if context.config.status == 1 %}
                                <button type="button" class="btn btn-danger btn-sm">正在筛选...</button>
                            {% endif %}
                            {% if context.config.status != 1 %}
                                <button type="submit" class="btn btn-primary btn-sm">开始筛选</button>
                            {% endif %}



                        </th>

                    </tr>

                </thead>

                <tbody></tbody>

                
            </form>

        </div>

        <div >


            <table class="table table-hover .table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                             &nbsp;&nbsp;&nbsp;  <a href="{% url 'openFilterPath' %}" class="btn btn-success btn-sm">在文件夹中打开待筛选文件</a></th>
                        <th>
                             &nbsp;&nbsp;&nbsp;  <a href="{% url 'seeFilterPath' %}" class="btn btn-success btn-sm">点击查看筛选结果</a></th>
                        </th>
                       

                <tbody>
                    {% for i in context.treat_filter %}
                    <tr>
                        <td>
                            {{ i.name }}
                        </td>
          
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col" >
            <div class="top-message">

            </div>
        </div>
    </div>
    <div style="height:50px;"></div>
</div>

<script>

    $(function(){
        Bs91m.get_telegram_message = function(t){
            var url = $(t).attr("url");
            var win = window.open(url, "获取验证码", "height=300, width=600");


            setTimeout(function(){ win.document.title= $(t).attr("phone")+"获取验证码"; }, 1500);
        }


         //全选与反选
         $('#checkedAll').click(function(){
            let sta = $('#checkedAll').prop('checked');
            $("input:not('#checkedAll')").prop('checked',sta)
          })


         $("#see_channelmessage_sendCount").click(function(){
            var url = "{% url 'channelmessage_sendCount' %}";
            var win = window.open(url, "消息发送统计", "height=800px, width=600");

         });


         $("#joinchannel_Count").click(function(){
            var url = "{% url 'joinchannel_Count' %}";
            var win = window.open(url, "加群统计", "height=800px, width=600");

         });


    })


</script>




{% endblock 'content' %}